mydetails {
  --mydetails-color: #121f72;
  --mydetails-bg-color: #fff;
  --mydetails-border-color: #fff;
  --mydetails-summary-color: #121f72;
  --mydetails-summary-bg-color: #e8edff;
  --mydetails-summary-hover-color: #6265fe;
  --mydetails-summary-hover-bg-color: #f3f6ff;
  --mydetails-summary-active-color: #4143a4;
  --mydetails-summary-active-bg-color: #f3f6ff;
  --mydetails-summary-active-bottom-color: #e8edff;
  --mydetails-summary-line-bg-color: #6265fe;
  --mydetails-shadow-color: rgba(77,87,200,0.345);
  --mydetails-shadow-hover-color: rgba(0,32,139,0.466);
}
[data-user-color-scheme='dark'] mydetails {
  --mydetails-color: #c4bfb8;
  --mydetails-bg-color: #181a1b;
  --mydetails-border-color: #0f1011;
  --mydetails-summary-color: #8fb6ed;
  --mydetails-summary-bg-color: #242729;
  --mydetails-summary-hover-color: #b3d3ff;
  --mydetails-summary-hover-bg-color: #181a1b;
  --mydetails-summary-active-color: #b3d3ff;
  --mydetails-summary-active-bg-color: #181a1b;
  --mydetails-summary-active-bottom-color: #181a1b;
  --mydetails-summary-line-bg-color: #b3d3ff;
  --mydetails-shadow-color: rgba(0,0,0,0);
  --mydetails-shadow-hover-color: rgba(0,0,0,0);
}
@font-face {
  font-weight: normal /* 会被应用为 CSS font-weight:400 的样式 */;
  font-style: normal;
  font-family: 'Nunito';
  src: url("../../fonts/Nunito/Nunito.woff2") format('woff2'), url("../fonts/Nunito/Nunito.ttf") format('truetype');
}
@font-face {
  font-weight: normal /* 会被应用为 CSS font-weight:400 的样式 */;
  font-style: italic;
  font-family: 'Nunito';
  src: url("../../fonts/Nunito/Nunito-Italic.woff2") format('woff2'), url("../fonts/Nunito/Nunito-Italic.ttf") format('truetype');
}
@font-face {
  font-weight: normal /* 会被应用为 CSS font-weight:400 的样式 */;
  font-style: normal;
  font-family: 'Nunito-Bold';
  src: url("../../fonts/Nunito/Nunito-Bold.woff2") format('woff2'), url("../fonts/Nunito/Nunito-Bold.ttf") format('truetype');
}
mydetails {
  z-index: 10;
  display: block;
  overflow: hidden;
  height: auto;
  border: 1px solid var(--mydetails-border-color);
  border-radius: 10px;
  background-color: var(--mydetails-bg-color);
  box-shadow: 2px 2px 2px 1px var(--mydetails-shadow-color);
  color: var(--mydetails-color);
  font-size: 1em;
  transition: background-color border height 0.2s ease-in-out;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
mydetails > summary {
  position: relative;
  display: block;
  margin: 0;
  padding: 10px;
  padding-left: 15px;
  outline: none;
  background-color: var(--mydetails-summary-bg-color);
  color: var(--mydetails-summary-color);
  list-style: none;
  text-decoration: none;
  font-size: 1.1em;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  user-select: none;
}
mydetails > summary::before {
  position: relative;
  top: 0.05em;
  display: inline-block;
  margin-right: 0.4em;
  margin-left: 0.2em;
  width: 0;
  height: 0;
  border-top: 0.45em solid transparent /* Change 'black' to your desired triangle color */;
  border-bottom: 0.45em solid transparent;
  border-left: 0.77em solid var(--mydetails-summary-color);
  background: none /* content: "▶"; */;
  content: '';
  transition: border-left transform 0.2s ease-in-out;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transform-origin: 40% 50%;
}
mydetails[open] > summary::before {
  transform: rotate(90deg);
}
mydetails > :not(summary) {
  overflow: hidden;
  margin: 0.7em;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
mydetails > summary::-webkit-mydetails-marker {
  display: none /* 对于 WebKit 浏览器隐藏默认箭头 */;
}
mydetails > summary > summary-title {
  position: relative;
  z-index: 12;
  display: inline-block;
  padding: 0 0.35em;
  letter-spacing: 0.02em;
  font-size: 1.1em;
  font-family: 'Nunito-Bold', '黑体', sans-serif;
  line-height: 1.1;
  transition: color 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
mydetails > summary > summary-subtitle {
  position: relative;
  z-index: 12;
  display: inline-block;
  margin: 0 0 0 0.5em;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  transition: transform 0.5s, color 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transform: translate3d(-0.5em, 0, 0);
}
mydetails > summary > summary-title::before {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 50%;
  content: ' ';
  opacity: 0.3;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
}
mydetails > summary > summary-subtitle::before {
  position: absolute;
  top: calc(95%);
  left: 0.05em;
  z-index: -1;
  width: 100%;
  height: 1px;
  content: ' ';
  opacity: 0.3;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transform: scale3d(0, 1.5, 1);
  transform-origin: 100% 50%;
}
mydetails > summary > summary-title::before,
mydetails > summary > summary-subtitle::before {
  background: var(--mydetails-summary-line-bg-color);
}
/* //////////////////// Clicked //////////////////// */
mydetails[open] {
/* transform: scale(0.994); */
  box-shadow: 1px 1px 3px 0px var(--mydetails-shadow-hover-color);
}
/* 关闭内容时需要rotate回来 */
mydetails:not([open]) > summary::before {
  transform: rotate(0deg);
}
mydetails[open] > summary {
  border-bottom: 1px solid var(--mydetails-summary-active-bg-color);
}
mydetails[open] > summary::before {
  border-left: 0.77em solid var(--mydetails-summary-active-color);
  transform: rotate(90deg);
}
mydetails[open] > summary > summary-title,
mydetails[open] > summary > summary-subtitle {
  color: var(--mydetails-summary-active-color);
}
mydetails[open] > summary > summary-title::before {
  transform: scale3d(1, 1.5, 1);
}
mydetails[open] > summary > summary-subtitle::before {
  transform: scale3d(1, 1, 1);
}
mydetails[open] > summary > summary-subtitle {
  transform: translate3d(0, 0, 0);
}
mydetails[open] > summary > summary-subtitle::before {
  transition-timing-function: ease;
  transform-origin: 0% 50%;
}
/* //////////////////// Hover //////////////////// */
@media (hover: hover) and (pointer: fine) {
  mydetails:hover {
/* border: 1px solid #4143a4; */
/* transform: scale(0.99); */
    box-shadow: 1px 1px 3px 0px var(--mydetails-shadow-hover-color);
  }
  mydetails:not([open]) > summary:hover::before {
    border-left: 0.77em solid var(--mydetails-summary-hover-color);
  }
  mydetails > summary:hover {
    background-color: var(--mydetails-summary-hover-bg-color);
    color: var(--mydetails-summary-hover-color);
  }
  mydetails:not([open]) > summary:hover > summary-title::before {
    transform: scale3d(1, 1.5, 1);
  }
  mydetails:not([open]) > summary:hover > summary-subtitle::before {
    transform: scale3d(1, 1, 1);
  }
  mydetails:not([open]) > summary:hover > summary-subtitle {
    transform: translate3d(0, 0, 0);
  }
  mydetails:not([open]) > summary:hover > summary-subtitle::before {
    transition-timing-function: ease;
    transform-origin: 0% 50%;
  }
}
mydetails {
  margin-bottom: 2rem;
  color: var(--post-text-color);
  font-size: 1rem;
  font-family: $font-family;
  line-height: 1.6;
}
mydetails > myh1,
mydetails myh2 {
  border-bottom-color: var(--line-color);
}
mydetails > myh1,
mydetails myh2,
mydetails myh3,
mydetails myh4,
mydetails myh5,
mydetails myh6 {
  margin-top: 2em;
  margin-bottom: 0.75em;
  color: var(--post-heading-color);
  font-weight: bold;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
}
