mydetails {
  margin-bottom: 2rem;
  color: var(--post-text-color);
  font-size: 1rem;
  font-family: $font-family;
  line-height: 1.6;
}
mydetails > myh1,
mydetails myh2 {
  border-bottom-color: var(--line-color);
}
mydetails > myh1,
mydetails myh2,
mydetails myh3,
mydetails myh4,
mydetails myh5,
mydetails myh6 {
  margin-top: 2em;
  margin-bottom: 0.75em;
  color: var(--post-heading-color);
  font-weight: bold;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
}
